{% from "_render_field.html" import render_field %}
{% from "_render_flash.html" import render_flash %}
{% extends 'base.html' %}
{% block content %}
    {{ render_flash() }}
    <div class="container d-flex justify-content-center align-items-center col-md-6">
        <div class="row">
            <img class="img w-100 d-block" src="{{ url_for('static', filename='profile_pics/' + pk.image_file) }}">
             <hr>
            <div class="body">
                <h4>{{ pk.title }}</h4>
                <p class="text"><b>{{ pk.type.value }}</b></p>
                <p class="text">{{ pk.text }}</p>

            </div>
            <div class="footer">
                <small class="text-muted">Created: {{ pk.created }}</small>
            </div>
             <hr>
            <div class="buttons">
                {% if current_user.id == pk.user_id %}
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Delete
                    </button>
                    <!-- Edit !-->
                    <a href="{{ url_for('posts.update', id=pk.id) }}">
                        <button class="btn btn-primary">Edit</button>
                    </a>
                {% endif %}

            </div>
        </div>

    </div>
    <!-- Delete -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{{ url_for('posts.delete', id=pk.id) }}" method="POST"> <!-- delete !-->
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}